/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */


body {
  background-image: linear-gradient(rgba(57, 62, 78, 0), rgba(57, 62, 78, 0.8)), image-url('bangkok.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  color: white;
}

#search-home {
  color: darkgray;
  align: center;
}

#user_input_autocomplete_address {
  border-radius: 5px 0px 0px 5px;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}

@media screen and (max-width: 768px)
{
  #user_input_autocomplete_address {
    border-radius: 3px 3px 3px 3px;
  }
}
