<%= content_for(:title) do %>
  Restobart
<% end %>

<%= content_for(:description) do %>
  <p>Vos adresses, et celles de ceux en qui vous avez confiance</p>
<% end %>

<div id="bg-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Restobart</h1>

        <p>Vos adresses, et celles de ceux en qui vous avez confiance</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="card" id="search-home">
          <%= form_tag "loges_path", class: "form-horizontal", method: :get do %>
            <fieldset>
                <div class="col-xs-12 col-sm-7 col-sm-offset-1">
                  <input id="user_input_autocomplete_address" name="user_input_autocomplete_address"
                         class="form-control field-margined-bottom" placeholder="Où ?">
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= submit_tag "Go !", class: "btn search_button btn-100" %>
                  <input id="latitude" name="lat" type="hidden" class="form-control">
                  <input id="longitude" name="lon" type="hidden" class="form-control">
                </div>
            </fieldset>
          <% end %>
        </div>
    </div>
  </div>
</div>
