/* -------------------------------------
 * Your CSS code for forms
  * ------------------------------------- */


.card {
  margin-top:1em;
  margin-bottom:1em;
  margin-left:1em;
  margin-right:1em;
  padding:1em;
  border-radius: 2px;
  align: center;
}


/* -------------------------------------
 * [TIPS] Look for cool form design on CodePen
 * ex: http://codepen.io/search?q=sign+up
 * ------------------------------------- */
